
<div class="header-container">
	<header style="text-align:center">
		<nav >
			<div toggle-menu class="menu-icon touch-speed" ><span class="ion-navicon"></span></div>
		</nav>
		<nav>
			<h1>&nbsp;</h1>
		</nav>
		<nav>
			<div hm-tap="toggleLang()" class="menu-icon touch-speed" ><span class="ion-navigate"></span></div>
		</nav>
	</header>
</div>

<div class="main-container" ng-show="$state.current.name == 'app.home'">
	<div class="scroll-content" >
		<div id="map" style="width:100%;height:100%"></div>
	</div>
	
	<div id="callBtn" hm-tap="request()">
		{{lang.REQUEST_BTN}}
	</div>
</div>


<ui-view></ui-view>
	
<pow-menu>
    <div>
        <nav class="menu-left scroll-content" id="myMenu" ng-class="MenuClass">
        	<div class="userInfo">
        		<div class="avatar-circle">
					<img src="images/avt.png" alt="">
        		</div>
				<div class="info">
					<strong>Nguyễn Văn Thịnh</strong> <br/>
					<p>Đăng xuất</p>
					<p>{{lang.HELLO_MSG}}</p>
				</div>
        	</div>
        	<div class="clearfix"></div>
        	<ul>
        		<li toggle-menu hm-tap="$state.go('app.home')" ng-class="($state.includes('app.home')) ? 
        		'active' : ''"><a>Home</a></li>
        		<li toggle-menu hm-tap="$state.go('app.history')" ng-class="($state.includes('app.history')) ? 'active' : ''"><a>History</a></li>
        		<!-- <li toggle-menu hm-tap="$state.go('app.payment')" ng-class="($state.includes('app.payment')) ? 'active' : ''"><a>Payment</a></li> -->
        		<li toggle-menu hm-tap="$state.go('app.contact')" ng-class="($state.includes('app.contact')) ? 'active' : ''"><a>Contact</a></li>
        		<li toggle-menu><a>Logout</a></li>
        	</ul>
        </nav>
    </div>
</pow-menu>

<div class="pow-backdrop">	
</div>