
<div class="header-container">
	<header style="text-align:center">
		<nav >
			<a toggle-menu class="menu-icon touch-speed" ><span class="ion-navicon"></span></a>
		</nav>
		<nav>
			<h1>Suda</h1>
		</nav>
		<nav>
			<a toggle-menu class="menu-icon touch-speed" ><span class="ion-navigate"></span></a>
		</nav>
	</header>
</div>

<ui-view></ui-view>
	
<pow-menu>
    <div>
        <nav class="menu-left scroll-content" id="myMenu" ng-class="MenuClass">
        	<ul>
        		<li toggle-menu><a href="">Trang chủ</a></li>
        		<li toggle-menu><a href="">Lịch sử</a></li>
        		<li toggle-menu><a href="">Thanh toán</a></li>
        		<li toggle-menu><a href="">Liên hệ</a></li>
        	</ul>
        </nav>
    </div>
</pow-menu>

<div class="pow-backdrop">	
</div>